<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <div id="app">
      <div class="header">{{ getMonth() }} {{ currentYear }}</div>
      <button @click="handlePreviousMonth" class="left-button">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <button @click="handleNextMonth" class="right-button">
        <span class="glyphicon glyphicon-chevron-right"></span>

      </button>
      <button @click="handleToday" class="today-button">Today</button>
      <table>
        <thead>
          <tr>
            <th v-for="day in daysOfWeek" :key="day" class="days-row">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(week, index) in renderDays()" :key="index">
            <td v-for="dayInfo in week" :key="dayInfo.dayNum + dayInfo.class" :class="dayInfo.class">
              {{ dayInfo.dayNum }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      const { createApp } = Vue

      const app = createApp({
        data: () => ({
          daysOfWeek: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
          currentMonth: new Date().getMonth(),
          currentYear: new Date().getFullYear()
        }),
        methods: {
          getMonth() {
            const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

            return months[this.currentMonth];
          },
          handleNextMonth() {
            this.currentMonth = (this.currentMonth + 1) % 12;
            if (this.currentMonth === 0) {
              this.currentYear++;
            }
          },
          handlePreviousMonth() {
            this.currentMonth = (this.currentMonth - 1 + 12) % 12;
            if (this.currentMonth === 11) {
              this.currentYear--;
            }
          },
          handleToday() {
            this.currentMonth = new Date().getMonth();
            this.currentYear = new Date().getFullYear()
          },
          renderDays() {
            const firstDayOfMonthIndex = new Date(this.currentYear, this.currentMonth, 1).getDay();
            const daysInMonth = new Date(this.currentYear, this.currentMonth + 1, 0).getDate();
            let daysInPrevMonth = new Date(this.currentYear, this.currentMonth, 0).getDate();

            console.log('first day of month: ', firstDayOfMonthIndex);
            console.log('days prev month: ', daysInPrevMonth);

            // firstDayOfMonthIndex returns index of day 1 in first week
            // daysInPrevMonth gives total days in past month
            // number of days to show in prev month is equal to firstDayOfMonthIndex

            // we want to create an array and fill it with arrays with length 7
            // how many arrays will be determined by calculating the weeks in the month

            // calculate weeks in month:
            // firstDayOfMonthIndex + daysInMonth / 7
            const weeksInMonth = Math.ceil((firstDayOfMonthIndex + daysInMonth) / 7);
            console.log('weeks: ', weeksInMonth);
            const totalListOfDays = [];
            const prevMonthDays = [];
            let prevMonthOverflowCount = firstDayOfMonthIndex;
            let day = 1;

            while (prevMonthOverflowCount > 0) {
              const prevMonthDayInfo = {
                dayNum: daysInPrevMonth,
                class: 'other-month'
              }
              prevMonthDays.push(prevMonthDayInfo);
              daysInPrevMonth--;
              prevMonthOverflowCount--;
            }

            prevMonthDays.reverse();
            console.log('prev month days: ', prevMonthDays);

            totalListOfDays.push(...prevMonthDays);

            while (day <= daysInMonth) {
              const date = new Date(this.currentYear, this.currentMonth, day);
              const isCurrentMonth = day <= daysInMonth;
              const isCurrentDay = isCurrentMonth && date.toDateString() === new Date().toDateString();

              const dayInfo = {
                dayNum: day,
                class: isCurrentDay ? 'current-month current-day' : 'current-month'
              }
              totalListOfDays.push(dayInfo);
              day++;
            }

            let nextMonthOverflow = (weeksInMonth * 7) - totalListOfDays.length;
            console.log('next Month overflow: ', nextMonthOverflow);
            let nextMonthDay = 1;

            while (nextMonthOverflow > 0) {
              const nextMonthDayInfo = {
                dayNum: nextMonthDay,
                class: 'other-month'
              }
              totalListOfDays.push(nextMonthDayInfo);
              nextMonthDay++;
              nextMonthOverflow--;
            }

            console.log('totalListOFDays: ', totalListOfDays, totalListOfDays.length);

            const calendarGrid = [];
            let count = 0;

            for (let week = 0; week < weeksInMonth; week++) {
              const weekArray = [];
              for (let day = 0; day < 7; day++) {
                weekArray.push(totalListOfDays[count])
                count++;
              }
              calendarGrid.push(weekArray);
            }
            console.log('calendar: ', calendarGrid);
            return calendarGrid;
          }
        }
      })

      app.mount('#app')
    </script>
    <style scoped>

      body {
        font-family: 'Roboto', sans-serif;
      }

      .header {
        font-size: 2em;
      }

      .days-row, .current-month, .other-month {
        text-align: center;
        padding: 10px;
      }

      .current-month {
        color: black;
      }

      .other-month {
        color: grey;
      }

      .current-day {
        background-color: #1b72e8;
        color: white;
        border-radius: 50%;
      }

      button {
        background: none;
        border: none;
      }

      .right-button:hover, .left-button:hover {
        background-color: lightgray;
        border-radius: 50%;
      }
    </style>
  </body>
</html>
